<html>
<head>
    <title>control</title>
</head>
<body>
    <form method="post" action="stepper">
        <h3>Steps</h3>
        <input type="text" name="steps" value="0" />
        <br>
        <br>
        <h3>Delay</h3>
        <input type="text" name="delay" value="0" />
        <br>
        <br>
        <h3>Direction</h3>
        <input type="radio" name="dir" value=True checked />CW
        <br>
        <input type="radio" name="dir" value=False />CCW
        <br>
        <br>
        <h3>Microstep</h3>
        <input type="radio" name="ms" value="1" checked />1
        <br>
        <input type="radio" name="ms" value="2" />2
        <br>
        <input type="radio" name="ms" value="4" />3
        <br>
        <input type="radio" name="ms" value="8" />4
        <br>
        <br>
        <input type="submit" value="start" />
    </form>
</body>
</html>
