<html>
<head>
    <title>Main</title>
</head>
<body>
    <form method="post" action="do_obs">
        <input type="submit" value="do obs" />
    </form>
    <form method="post" action="go_home">
        <input type="submit" value="go home" />
    </form>
    <form method="post" action="calibrate">
        <input type="submit" value="calibrate" />
    </form>
    <form method="post" action="control">
        <input type="submit" value="control" />
    </form>
    <form method="post" action="spectrum">
        <input type="submit" value="spectrum" />
    </form>
</body>
</html>
